body{
    background-image: url(./images/library.jpg);
    font-family: sans-serif;

}
.register-box{
    width: 350px;
    height: 650px;
    margin: 5% auto;
    background-color: rgb(253, 252, 253);
    border-radius: 30px;
    padding: 30px;
    text-align: center;    

}
.reg-box{
    padding: 10px;
    border-radius: 30px;
    margin: 10px;
    text-align: center;
}
.reg-box:hover{
    border: 50px;
    background-image: linear-gradient(135deg, rgb(7, 250, 80), hsl(162, 93%, 49%));
}
.btn{
    padding: 20px;
    border-radius: 20px;
    margin: 30px;
    text-align: center;
    
    
}
.btn:hover{
    background-image: linear-gradient(135deg, rgb(52, 7, 250), hsl(271, 93%, 49%));
}
.file-upload-input{
    align-items: center;
    
}
h1{
    color: blue;

}
img{
    width: 70px;
    margin-top: -100px;
}
a{
    color: blue;
}